.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    
    gap: 2em;
    padding: 5em 2em;
    h1{
        font-size: 5rem;
    }
    div{
        width: 100%;
        max-width: 500px;
        p{
            text-align: left;
        }
    }
    // background-color: aqua;
}